# Lending Club Dataset Analysis Report

### Import all the required packges

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import kagglehub

In [4]:

# Download latest version of dataset from Kaggle and unzip it.
path = kagglehub.dataset_download("adarshsng/lending-club-loan-data-csv")

print("Path to dataset files:", path)

Path to dataset files: /home/niteesh/.cache/kagglehub/datasets/adarshsng/lending-club-loan-data-csv/versions/1

In [5]:
df = pd.read_csv(path+'/loan.csv', low_memory=False)
df_info = pd.read_excel(path+'/LCDataDictionary.xlsx')
#display the dataframe
df.head(10)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,5550,5550,5550.0,36 months,15.02,192.45,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,2000,2000,2000.0,36 months,17.97,72.28,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,6000,6000,6000.0,36 months,13.56,203.79,C,C1,...,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,6000,6000,6000.0,36 months,14.47,206.44,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# generate the dataset profiling for dataanalsysis
# from ydata_profiling import ProfileReport

# profile = ProfileReport(df, title="Loan Data Profiling")

In [7]:
# profile.to_file(output_file='loan_profile_report.html')

## Analyze the dataset shapes, datatypes, columns and target variable distribution.

In [8]:
display(df_info)

               LoanStatNew                                        Description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

In [9]:
import importlib
import utils
importlib.reload(utils)
from utils import *
describe_dataset(df, 'loan_status')

📊 Shape of Dataset:
Rows: 2260668, Columns: 145

🔎 Data types of columns:

id                       float64
member_id                float64
loan_amnt                  int64
funded_amnt                int64
funded_amnt_inv          float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 145, dtype: object

⚠️ Missing values per column:

                       missing_count  missing_percent missing_val
id                           2260668       100.000000     1.0000%
member_id                    2260668       100.000000     1.0000%
emp_title                     166969         7.385826     0.0739%
emp_length                    146907         6.498389     0.0650%
annual_inc                         4         0.000177     0.0000%
...                              ...              ...         ...
settlement_status            2227612        98.537777     0.9854%
settlement_date              2227612        98.537777     0.9854%
settlement_amount            2227612        98.537777     0.9854%
settlement_percentage        2227612        98.537777     0.9854%
settlement_term              2227612        98.537777     0.9854%

[113 rows x 3 columns]

📑 Duplicate rows count:
0

📈 Dataset summary:

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
member_id,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loan_amnt,2260668.0,NaN,NaN,NaN,15046.931228,9190.245488,500.0,8000.0,12900.0,20000.0,40000.0
funded_amnt,2260668.0,NaN,NaN,NaN,15041.664057,9188.413022,500.0,8000.0,12875.0,20000.0,40000.0
funded_amnt_inv,2260668.0,NaN,NaN,NaN,15023.437624,9192.331807,0.0,8000.0,12800.0,20000.0,40000.0
...,...,...,...,...,...,...,...,...,...,...,...
settlement_status,33056,3,ACTIVE,14811,NaN,NaN,NaN,NaN,NaN,NaN,NaN
settlement_date,33056,89,Jan-2019,1725,NaN,NaN,NaN,NaN,NaN,NaN,NaN
settlement_amount,33056.0,NaN,NaN,NaN,5030.606922,3692.027842,44.21,2227.0,4172.855,6870.7825,33601.0
settlement_percentage,33056.0,NaN,NaN,NaN,47.7756,7.336379,0.2,45.0,45.0,50.0,521.35
settlement_term,33056.0,NaN,NaN,NaN,13.148596,8.192319,0.0,6.0,14.0,18.0,181.0

🎯 Target variable info: loan_status

count        2260668
unique             9
top       Fully Paid
freq         1041952
Name: loan_status, dtype: object

                                                    proportion
loan_status
Fully Paid                                            0.460904
Current                                               0.406824
Charged Off                                           0.115742
Late (31-120 days)                                    0.009686
In Grace Period                                       0.003960
Late (16-30 days)                                     0.001653
Does not meet the credit policy. Status:Fully Paid    0.000879
Does not meet the credit policy. Status:Charged...    0.000337
Default                                               0.000014

In [10]:
print(df.columns.to_list())

['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'revol_bal_joint', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog', 'hardship_flag', 'hardship_type', 'hardship_reason', 'hardship_status', 'deferral_term', 'hardship_amount', 'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date', 'hardship_length', 'hardship_dpd', 'hardship_loan_status', 'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 'disbursement_method', 'debt_settlement_flag', 'debt_settlement_flag_date', 'settlement_status', 'settlement_date', 'settlement_amount', 'settlement_percentage', 'settlement_term']

## Remove missing values based on columns in the dataset and duplicates rows and remove columns that have only one value
remove_missing_values(df)

In [11]:
df_new = remove_columns_with_missing_values(df, threshold=0.5)
df_new = remove_rows_with_missing_values(df_new)
df_new = remove_duplicates(df_new)
df_new = remove_columns_with_only_one_value(df_new)

Columns removed: ['id', 'member_id', 'url', 'desc', 'mths_since_last_delinq', 'mths_since_last_record', 'next_pymnt_d', 'mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'mths_since_recent_bc_dlq', 'mths_since_recent_revol_delinq', 'revol_bal_joint', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog', 'hardship_type', 'hardship_reason', 'hardship_status', 'deferral_term', 'hardship_amount', 'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date', 'hardship_length', 'hardship_dpd', 'hardship_loan_status', 'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 'debt_settlement_flag_date', 'settlement_status', 'settlement_date', 'settlement_amount', 'settlement_percentage', 'settlement_term']

In [12]:
### Remove row in which the loan_status is current which means that the loan has not been paid yet. and it is in the process of being paid.
df_new = df_new[df_new['loan_status'] != 'Current'].reset_index(drop=True)

In [13]:
describe_dataset(df_new, 'loan_status')

📊 Shape of Dataset:
Rows: 1340822, Columns: 100

🔎 Data types of columns:

loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                      float64
                               ...
total_bc_limit                float64
total_il_high_credit_limit    float64
hardship_flag                  object
disbursement_method            object
debt_settlement_flag           object
Length: 100, dtype: object

⚠️ Missing values per column:

                            missing_count  missing_percent missing_val
emp_title                           85894         6.406070     0.0641%
emp_length                          78418         5.848502     0.0585%
title                               15926         1.187779     0.0119%
zip_code                                1         0.000075     0.0000%
dti                                   354         0.026402     0.0003%
inq_last_6mths                          1         0.000075     0.0000%
revol_util                            859         0.064065     0.0006%
last_pymnt_d                         2421         0.180561     0.0018%
last_credit_pull_d                     54         0.004027     0.0000%
collections_12_mths_ex_med              5         0.000373     0.0000%
tot_coll_amt                        70125         5.230001     0.0523%
tot_cur_bal                         70125         5.230001     0.0523%
open_acc_6m                        809644        60.384152     0.6038%
open_act_il                        809643        60.384078     0.6038%
open_il_12m                        809643        60.384078     0.6038%
open_il_24m                        809643        60.384078     0.6038%
mths_since_rcnt_il                 823784        61.438729     0.6144%
total_bal_il                       809643        60.384078     0.6038%
il_util                            881093        65.712899     0.6571%
open_rv_12m                        809643        60.384078     0.6038%
open_rv_24m                        809643        60.384078     0.6038%
max_bal_bc                         809643        60.384078     0.6038%
all_util                           809699        60.388254     0.6039%
total_rev_hi_lim                    70125         5.230001     0.0523%
inq_fi                             809643        60.384078     0.6038%
total_cu_tl                        809644        60.384152     0.6038%
inq_last_12m                       809644        60.384152     0.6038%
acc_open_past_24mths                49879         3.720031     0.0372%
avg_cur_bal                         70148         5.231716     0.0523%
bc_open_to_buy                      63761         4.755366     0.0476%
bc_util                             64531         4.812794     0.0481%
chargeoff_within_12_mths                5         0.000373     0.0000%
mo_sin_old_il_acct                 108093         8.061696     0.0806%
mo_sin_old_rev_tl_op                70126         5.230075     0.0523%
mo_sin_rcnt_rev_tl_op               70126         5.230075     0.0523%
mo_sin_rcnt_tl                      70125         5.230001     0.0523%
mort_acc                            49879         3.720031     0.0372%
mths_since_recent_bc                62834         4.686230     0.0469%
mths_since_recent_inq              175120        13.060645     0.1306%
num_accts_ever_120_pd               70125         5.230001     0.0523%
num_actv_bc_tl                      70125         5.230001     0.0523%
num_actv_rev_tl                     70125         5.230001     0.0523%
num_bc_sats                         58439         4.358446     0.0436%
num_bc_tl                           70125         5.230001     0.0523%
num_il_tl                           70125         5.230001     0.0523%
num_op_rev_tl                       70125         5.230001     0.0523%
num_rev_accts                       70126         5.230075     0.0523%
num_rev_tl_bal_gt_0                 70125         5.230001     0.0523%
num_sats                            58439         4.358446     0.0436%
num_tl_120dpd_2m                   120279         8.970542     0.0897%
num_tl_30dpd                        70125         5.230001     0.0523%
num_tl_90g_dpd_24m                  70125         5.230001     0.0523%
num_tl_op_past_12m                  70125         5.230001     0.0523%
pct_tl_nvr_dlq                      70279         5.241486     0.0524%
percent_bc_gt_75                    64172         4.786019     0.0479%
pub_rec_bankruptcies                 1224         0.091287     0.0009%
tot_hi_cred_lim                     70125         5.230001     0.0523%
total_bal_ex_mort                   49879         3.720031     0.0372%
total_bc_limit                      49879         3.720031     0.0372%
total_il_high_credit_limit          70125         5.230001     0.0523%

📑 Duplicate rows count:
0

📈 Dataset summary:

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
loan_amnt,1340822.0,NaN,NaN,NaN,14473.369172,8735.215529,500.0,8000.0,12000.0,20000.0,40000.0
funded_amnt,1340822.0,NaN,NaN,NaN,14464.541453,8731.381305,500.0,8000.0,12000.0,20000.0,40000.0
funded_amnt_inv,1340822.0,NaN,NaN,NaN,14437.272797,8737.190165,0.0,7950.0,12000.0,20000.0,40000.0
term,1340822,2,36 months,1011265,NaN,NaN,NaN,NaN,NaN,NaN,NaN
int_rate,1340822.0,NaN,NaN,NaN,13.318772,4.786082,5.31,9.76,12.79,16.02,30.99
...,...,...,...,...,...,...,...,...,...,...,...
total_bc_limit,1290943.0,NaN,NaN,NaN,21533.41772,21463.926887,0.0,7700.0,15000.0,28000.0,1105500.0
total_il_high_credit_limit,1270697.0,NaN,NaN,NaN,42182.046289,43287.741656,0.0,14759.0,31722.0,56700.0,2101913.0
hardship_flag,1340822,2,N,1339947,NaN,NaN,NaN,NaN,NaN,NaN,NaN
disbursement_method,1340822,2,Cash,1334149,NaN,NaN,NaN,NaN,NaN,NaN,NaN
debt_settlement_flag,1340822,2,N,1307792,NaN,NaN,NaN,NaN,NaN,NaN,NaN

🎯 Target variable info: loan_status

count        1340822
unique             8
top       Fully Paid
freq         1041900
Name: loan_status, dtype: object

                                                    proportion
loan_status
Fully Paid                                            0.777061
Charged Off                                           0.195136
Late (31-120 days)                                    0.016331
In Grace Period                                       0.006677
Late (16-30 days)                                     0.002787
Does not meet the credit policy. Status:Fully Paid    0.001435
Does not meet the credit policy. Status:Charged...    0.000551
Default                                               0.000023

In [14]:
# profile = ProfileReport(df_new, title="Loan Data Profiling")
# profile.to_file(output_file='loan_profile_report_cleaned.html')

## Label the target variable with 0 and 1 where 0 represents fully paid loans and 1 represents charged off loans.

In [15]:
# Fully Paid - 0
# Charged Off -1 that haven't paid back or late paid the loans
if ('loan_status' in df_new.columns): 
    df_new['target'] = df_new['loan_status'].apply(lambda x: 0 if x.lower() == 'fully paid' else 1)
    df_new = df_new.drop(columns=['loan_status'])

# find the leakage columns and remove them from the dataset
leakage_cols = find_leakage_columns(df_new, 'target')
print("\n🔥 Drop these columns before training:")
print(leakage_cols)

# droping the leaked columns
df_new = df_new.drop(columns=leakage_cols)

🚨 Suspicious by name:
['pymnt_plan', 'inq_last_6mths', 'pub_rec', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d', 'collections_12_mths_ex_med', 'inq_last_12m', 'mths_since_recent_bc', 'mths_since_recent_inq', 'pub_rec_bankruptcies', 'hardship_flag', 'debt_settlement_flag']

🚨 Suspicious by correlation (>|0.8|):

🔥 Drop these columns before training:
['mths_since_recent_bc', 'recoveries', 'debt_settlement_flag', 'hardship_flag', 'total_rec_late_fee', 'pub_rec_bankruptcies', 'inq_last_6mths', 'total_rec_int', 'collections_12_mths_ex_med', 'out_prncp_inv', 'last_credit_pull_d', 'total_pymnt_inv', 'pub_rec', 'pymnt_plan', 'mths_since_recent_inq', 'out_prncp', 'total_rec_prncp', 'last_pymnt_amnt', 'collection_recovery_fee', 'inq_last_12m', 'total_pymnt', 'last_pymnt_d']

In [16]:
describe_dataset(df_new, 'target')

📊 Shape of Dataset:
Rows: 1340822, Columns: 78

🔎 Data types of columns:

loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                      float64
                               ...
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
disbursement_method            object
target                          int64
Length: 78, dtype: object

⚠️ Missing values per column:

                            missing_count  missing_percent missing_val
emp_title                           85894         6.406070     0.0641%
emp_length                          78418         5.848502     0.0585%
title                               15926         1.187779     0.0119%
zip_code                                1         0.000075     0.0000%
dti                                   354         0.026402     0.0003%
revol_util                            859         0.064065     0.0006%
tot_coll_amt                        70125         5.230001     0.0523%
tot_cur_bal                         70125         5.230001     0.0523%
open_acc_6m                        809644        60.384152     0.6038%
open_act_il                        809643        60.384078     0.6038%
open_il_12m                        809643        60.384078     0.6038%
open_il_24m                        809643        60.384078     0.6038%
mths_since_rcnt_il                 823784        61.438729     0.6144%
total_bal_il                       809643        60.384078     0.6038%
il_util                            881093        65.712899     0.6571%
open_rv_12m                        809643        60.384078     0.6038%
open_rv_24m                        809643        60.384078     0.6038%
max_bal_bc                         809643        60.384078     0.6038%
all_util                           809699        60.388254     0.6039%
total_rev_hi_lim                    70125         5.230001     0.0523%
inq_fi                             809643        60.384078     0.6038%
total_cu_tl                        809644        60.384152     0.6038%
acc_open_past_24mths                49879         3.720031     0.0372%
avg_cur_bal                         70148         5.231716     0.0523%
bc_open_to_buy                      63761         4.755366     0.0476%
bc_util                             64531         4.812794     0.0481%
chargeoff_within_12_mths                5         0.000373     0.0000%
mo_sin_old_il_acct                 108093         8.061696     0.0806%
mo_sin_old_rev_tl_op                70126         5.230075     0.0523%
mo_sin_rcnt_rev_tl_op               70126         5.230075     0.0523%
mo_sin_rcnt_tl                      70125         5.230001     0.0523%
mort_acc                            49879         3.720031     0.0372%
num_accts_ever_120_pd               70125         5.230001     0.0523%
num_actv_bc_tl                      70125         5.230001     0.0523%
num_actv_rev_tl                     70125         5.230001     0.0523%
num_bc_sats                         58439         4.358446     0.0436%
num_bc_tl                           70125         5.230001     0.0523%
num_il_tl                           70125         5.230001     0.0523%
num_op_rev_tl                       70125         5.230001     0.0523%
num_rev_accts                       70126         5.230075     0.0523%
num_rev_tl_bal_gt_0                 70125         5.230001     0.0523%
num_sats                            58439         4.358446     0.0436%
num_tl_120dpd_2m                   120279         8.970542     0.0897%
num_tl_30dpd                        70125         5.230001     0.0523%
num_tl_90g_dpd_24m                  70125         5.230001     0.0523%
num_tl_op_past_12m                  70125         5.230001     0.0523%
pct_tl_nvr_dlq                      70279         5.241486     0.0524%
percent_bc_gt_75                    64172         4.786019     0.0479%
tot_hi_cred_lim                     70125         5.230001     0.0523%
total_bal_ex_mort                   49879         3.720031     0.0372%
total_bc_limit                      49879         3.720031     0.0372%
total_il_high_credit_limit          70125         5.230001     0.0523%

📑 Duplicate rows count:
0

📈 Dataset summary:

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
loan_amnt,1340822.0,NaN,NaN,NaN,14473.369172,8735.215529,500.0,8000.0,12000.0,20000.0,40000.0
funded_amnt,1340822.0,NaN,NaN,NaN,14464.541453,8731.381305,500.0,8000.0,12000.0,20000.0,40000.0
funded_amnt_inv,1340822.0,NaN,NaN,NaN,14437.272797,8737.190165,0.0,7950.0,12000.0,20000.0,40000.0
term,1340822,2,36 months,1011265,NaN,NaN,NaN,NaN,NaN,NaN,NaN
int_rate,1340822.0,NaN,NaN,NaN,13.318772,4.786082,5.31,9.76,12.79,16.02,30.99
...,...,...,...,...,...,...,...,...,...,...,...
total_bal_ex_mort,1290943.0,NaN,NaN,NaN,49701.907162,47767.706305,0.0,20901.0,37326.0,62587.5,3408095.0
total_bc_limit,1290943.0,NaN,NaN,NaN,21533.41772,21463.926887,0.0,7700.0,15000.0,28000.0,1105500.0
total_il_high_credit_limit,1270697.0,NaN,NaN,NaN,42182.046289,43287.741656,0.0,14759.0,31722.0,56700.0,2101913.0
disbursement_method,1340822,2,Cash,1334149,NaN,NaN,NaN,NaN,NaN,NaN,NaN
target,1340822.0,NaN,NaN,NaN,0.222939,0.416218,0.0,0.0,0.0,0.0,1.0

🎯 Target variable info: target

count    1.340822e+06
mean     2.229394e-01
std      4.162181e-01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+00
Name: target, dtype: float64

        proportion
target
0         0.777061
1         0.222939

In [17]:
# from ydata_profiling import ProfileReport

# profile = ProfileReport(df_new, title="Loan Data Profiling")
# profile.to_file(output_file='loan_profile_report_final.html')

### Train Test Split

In [18]:
# features
X = df_new.drop(columns=['target'])
# targets
y = df_new['target']

In [19]:
# train and test split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

assert (X_train.columns == X_test.columns).all(), "Column mismatch between train and test"
print(type(y_train), y_train.shape)

<class 'pandas.core.series.Series'> (1072657,)

In [20]:
print(len(X_train.columns))
print(len(X_test.columns))

print("Train columns:", set(X_train.columns))
print("Test columns:", set(X_test.columns))

# Check if any mismatch
print("Missing in test:", set(X_train.columns) - set(X_test.columns))
print("Extra in test:", set(X_test.columns) - set(X_train.columns))

77
77
Train columns: {'num_actv_bc_tl', 'tax_liens', 'delinq_amnt', 'verification_status', 'delinq_2yrs', 'emp_length', 'num_il_tl', 'mo_sin_rcnt_tl', 'num_tl_op_past_12m', 'num_actv_rev_tl', 'purpose', 'num_tl_120dpd_2m', 'open_acc_6m', 'inq_fi', 'total_rev_hi_lim', 'num_rev_tl_bal_gt_0', 'tot_coll_amt', 'mths_since_rcnt_il', 'initial_list_status', 'acc_now_delinq', 'acc_open_past_24mths', 'bc_open_to_buy', 'bc_util', 'num_rev_accts', 'all_util', 'mo_sin_old_il_acct', 'num_bc_sats', 'grade', 'home_ownership', 'percent_bc_gt_75', 'mo_sin_rcnt_rev_tl_op', 'total_acc', 'int_rate', 'open_act_il', 'num_accts_ever_120_pd', 'funded_amnt', 'total_il_high_credit_limit', 'tot_cur_bal', 'num_sats', 'num_tl_30dpd', 'tot_hi_cred_lim', 'chargeoff_within_12_mths', 'revol_util', 'loan_amnt', 'open_rv_12m', 'mort_acc', 'open_acc', 'total_cu_tl', 'issue_d', 'num_bc_tl', 'earliest_cr_line', 'dti', 'total_bal_il', 'max_bal_bc', 'pct_tl_nvr_dlq', 'sub_grade', 'revol_bal', 'funded_amnt_inv', 'disbursement_method', 'zip_code', 'title', 'total_bc_limit', 'open_il_12m', 'application_type', 'il_util', 'avg_cur_bal', 'installment', 'total_bal_ex_mort', 'open_il_24m', 'annual_inc', 'num_op_rev_tl', 'emp_title', 'addr_state', 'open_rv_24m', 'term', 'mo_sin_old_rev_tl_op', 'num_tl_90g_dpd_24m'}
Test columns: {'num_actv_bc_tl', 'tax_liens', 'delinq_amnt', 'verification_status', 'delinq_2yrs', 'emp_length', 'num_il_tl', 'mo_sin_rcnt_tl', 'num_tl_op_past_12m', 'num_actv_rev_tl', 'purpose', 'num_tl_120dpd_2m', 'open_acc_6m', 'inq_fi', 'total_rev_hi_lim', 'num_rev_tl_bal_gt_0', 'tot_coll_amt', 'mths_since_rcnt_il', 'initial_list_status', 'acc_now_delinq', 'acc_open_past_24mths', 'bc_open_to_buy', 'bc_util', 'num_rev_accts', 'all_util', 'mo_sin_old_il_acct', 'num_bc_sats', 'grade', 'home_ownership', 'percent_bc_gt_75', 'mo_sin_rcnt_rev_tl_op', 'total_acc', 'int_rate', 'open_act_il', 'num_accts_ever_120_pd', 'funded_amnt', 'total_il_high_credit_limit', 'tot_cur_bal', 'num_sats', 'num_tl_30dpd', 'tot_hi_cred_lim', 'chargeoff_within_12_mths', 'revol_util', 'loan_amnt', 'open_rv_12m', 'mort_acc', 'open_acc', 'total_cu_tl', 'issue_d', 'num_bc_tl', 'earliest_cr_line', 'dti', 'total_bal_il', 'max_bal_bc', 'pct_tl_nvr_dlq', 'sub_grade', 'revol_bal', 'funded_amnt_inv', 'disbursement_method', 'zip_code', 'title', 'total_bc_limit', 'open_il_12m', 'application_type', 'il_util', 'avg_cur_bal', 'installment', 'total_bal_ex_mort', 'open_il_24m', 'annual_inc', 'num_op_rev_tl', 'emp_title', 'addr_state', 'open_rv_24m', 'term', 'mo_sin_old_rev_tl_op', 'num_tl_90g_dpd_24m'}
Missing in test: set()
Extra in test: set()

# Perform Imputation for Missing Values and  Feature Scaling and Encoding Categorical Variables using the colmn transformer technique.

we will be using the missing indicator for method to impute the missing values in the dataset. This method creates a new column for each feature with missing values and sets its value to 1 if the corresponding feature has a missing value and 0 otherwise. Then we can use this information to predict the missing values.
For feature scaling we will be using the standard scaler technique. This technique scales the features by subtracting their mean and dividing by their standard deviation. This ensures that all features are on the same scale and have similar variance.
For encoding categorical variables we will be using the ordinal encoder and one hot encoding technique. This technique assigns a numerical value to each category in a categorical variable. The categories are ordered according to some criteria such as alphabetical order or frequency of occurrence.
We will be using the column transformer technique to perform these operations on different types of features in our dataset. We will create separate transformers for numeric and categorical features and then combine them into a single column transformer object

In [21]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder

# numeric pipeline impute+scale
numeric_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='median', add_indicator=True)),
    ('scaler', StandardScaler()),
])
# categorical pipeline impute + oridinal
category_ordinal_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='constant', fill_value='Unknown')),
    ('encoder', OrdinalEncoder(handle_unknown="use_encoded_value", unknown_value=-1)),
])
# categorical pipeline impute + onehot
category_onehot_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='constant', fill_value='Unknown')),
    ('encoder', OneHotEncoder(handle_unknown='ignore')),
])

num_features = X_train.select_dtypes(include=['int64', 'float64']).columns.tolist()
cat_features = X_train.select_dtypes(include=['object']).columns.tolist()
stratergies_cols = categorize_encoding_strategy(X_train)
print(set(num_features) & set(stratergies_cols['ordinal_target']))
print(set(num_features) & set(stratergies_cols['one_hot']))
print(set(stratergies_cols['ordinal_target']) & set(stratergies_cols['one_hot']))

# define column transformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_pipeline, num_features),
        ('cat_ord_encoder', category_ordinal_pipeline, stratergies_cols['ordinal_target']),
        ('cat_one_encoder', category_onehot_pipeline, stratergies_cols['one_hot']),
    ]
)

# apply fit transform to training set
# X_train_imputed = preprocessor.fit_transform(X_train)
# # apply transform to testing set
# X_test_imputed = preprocessor.transform(X_test)

set()
set()
set()

### Model Training and Evaluation

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from xgboost import XGBClassifier

# --------------------------
# 3. Build model pipelines
# --------------------------

# Logistic Regression
logreg_pipeline = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("model", LogisticRegression(max_iter=1000, class_weight="balanced"))
])

# Random Forest
rf_pipeline = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("model", RandomForestClassifier(n_estimators=20, random_state=42, class_weight="balanced"))
])

# XGBoost
xgb_pipeline = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("model", XGBClassifier(
        n_estimators=300,
        learning_rate=0.1,
        max_depth=6,
        subsample=0.8,
        colsample_bytree=0.8,
        use_label_encoder=False,
        eval_metric="logloss",
        scale_pos_weight= (y_train.value_counts()[0] / y_train.value_counts()[1]) # handle imbalance
    ))
])

# --------------------------
# 4. Train & evaluate
# --------------------------

pipelines = {
    "Logistic Regression": logreg_pipeline,
    "Random Forest": rf_pipeline,
    "XGBoost": xgb_pipeline
}
# load the models if it is there
model_keys = [key for key in pipelines.keys()]
trained_models = load_selective_models(model_keys)
if (len(model_keys) == len(trained_models)):
    print(f"All models loaded successfully. {trained_models.keys()}")
else:
    y_train = y_train.to_numpy().ravel()
    y_test = y_test.to_numpy().ravel()
    y_pred = {
        "Logistic Regression": None,
        "Random Forest": None,
        "XGBoost": None
    }
    # X_test_imputed = pd.DataFrame(X_test_imputed, columns=X_test.columns)
    # X_train_imputed = pd.DataFrame(X_train, columns=X_train.columns)
    for name, pipe in pipelines.items():
        pipe.fit(X_train, y_train)
        # score = pipe.score(X_test, y_test)
        y_pred[name] = pipe.predict(X_test)
        print(f"{name} Confusion Matrix: {confusion_matrix(y_test, y_pred[name])}")
        display(f"{name} Classification Report: {classification_report(y_test, y_pred[name])}")
        print(f"{name} Accuracy: {accuracy_score(y_test, y_pred[name])}")

Logistic Regression Confusion Matrix: [[139427  68953]
 [ 20688  39097]]
Logistic Regression Classification Report:               precision    recall  f1-score   support

           0       0.87      0.67      0.76    208380
           1       0.36      0.65      0.47     59785

    accuracy                           0.67    268165
   macro avg       0.62      0.66      0.61    268165
weighted avg       0.76      0.67      0.69    268165

Logistic Regression Accuracy: 0.6657244606865176
Random Forest Confusion Matrix: [[204681   3699]
 [ 55674   4111]]
Random Forest Classification Report:               precision    recall  f1-score   support

           0       0.79      0.98      0.87    208380
           1       0.53      0.07      0.12     59785

    accuracy                           0.78    268165
   macro avg       0.66      0.53      0.50    268165
weighted avg       0.73      0.78      0.71    268165

Random Forest Accuracy: 0.7785952678388306
XGBoost Confusion Matrix: [[139812  68568]
 [ 19129  40656]]
XGBoost Classification Report:               precision    recall  f1-score   support

           0       0.88      0.67      0.76    208380
           1       0.37      0.68      0.48     59785

    accuracy                           0.67    268165
   macro avg       0.63      0.68      0.62    268165
weighted avg       0.77      0.67      0.70    268165

XGBoost Accuracy: 0.6729737288609625

In [24]:
# save the models to disk
import importlib
import utils
importlib.reload(utils)
from utils import *
save_model(pipelines=pipelines, folder='saved_models')

model is saved

### Hyper Parameter Tuning Using the Grid Search CV Technique

### Bias Detection

In [ ]:
from fairlearn.metrics import MetricFrame, selection_rate, true_positive_rate, false_positive_rate

grade_test = X_test['grade']
for model_name, model in pipelines.items():
    mf = MetricFrame(
        metrics={
            "selection_rate": selection_rate,
            "true_positive_rate": true_positive_rate,
            "false_positive_rate": false_positive_rate,
        },
        y_true=y_test,
        y_pred=y_pred[model_name],
        sensitive_features=grade_test,
    )
    print(f"\n=== {model_name} ===\n")
    print(f"Overall Metrics:\n")
    display(mf.overall)
    print(f"\nMetrics By Group:\n")
    display(mf.by_group)

=== Logistic Regression ===

Overall Metrics
:

selection_rate         0.402924
true_positive_rate     0.653960
false_positive_rate    0.330900
dtype: float64

Metrics By Group
:

       selection_rate  true_positive_rate  false_positive_rate
grade
A            0.002426            0.008786             0.001950
B            0.097081            0.197398             0.079249
C            0.534221            0.679469             0.485138
D            0.808826            0.880343             0.772858
E            0.942411            0.962394             0.928691
F            0.987021            0.990177             0.984212
G            0.995228            0.990863             1.000000

=== Random Forest ===

Overall Metrics
:

selection_rate         0.029124
true_positive_rate     0.068763
false_positive_rate    0.017751
dtype: float64

Metrics By Group
:

       selection_rate  true_positive_rate  false_positive_rate
grade
A            0.000109            0.000941             0.000047
B            0.001860            0.004794             0.001339
C            0.017451            0.031462             0.012716
D            0.057161            0.085114             0.043102
E            0.120073            0.162701             0.090805
F            0.183649            0.229721             0.142656
G            0.242312            0.289340             0.190899

=== XGBoost ===

Overall Metrics
:

selection_rate         0.407301
true_positive_rate     0.680037
false_positive_rate    0.329053
dtype: float64

Metrics By Group
:

       selection_rate  true_positive_rate  false_positive_rate
grade
A            0.013879            0.066520             0.009937
B            0.146630            0.303801             0.118691
C            0.520357            0.693412             0.461878
D            0.770107            0.870023             0.719854
E            0.923510            0.965848             0.894441
F            0.962107            0.980989             0.945306
G            0.987275            0.996954             0.976693

In [30]:
X_train.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'open_acc', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'application_type', 'acc_now_delinq',
       'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_act_il',
       'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il',
       'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'acc_open_past_24mths',
       'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths',
       'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op',
       'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'tax_liens', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit',
       'disbursement_method'],
      dtype='object')

In [31]:
X_train[['grade', 'zip_code', 'sub_grade', 'emp_title', 'home_ownership']]

,grade,zip_code,sub_grade,emp_title,home_ownership
1329562,C,453xx,C1,Lead Teller Ops Specialist,MORTGAGE
839350,A,923xx,A4,Machine Operator,MORTGAGE
1094263,B,287xx,B5,4th grade teacher,RENT
665371,F,338xx,F2,Agent,OWN
550987,A,727xx,A3,Communications Tech,RENT
...,...,...,...,...,...
117495,B,132xx,B5,Coordinator,MORTGAGE
499209,B,919xx,B3,Business Analyst,RENT
604846,C,941xx,C2,Head Cook,RENT
1302882,B,323xx,B3,Panera LLC,MORTGAGE
605978,A,305xx,A4,Assistant Professor of Theatre,RENT

In [34]:
display(X_train['zip_code'].value_counts())
display(X_train['sub_grade'].value_counts())
display(X_train['emp_title'].value_counts())
display(X_train['home_ownership'].value_counts())
display(X_train['grade'].value_counts())

zip_code
945xx    12006
750xx    11555
112xx    11088
606xx     9879
300xx     9667
         ...
938xx        1
511xx        1
817xx        1
522xx        1
649xx        1
Name: count, Length: 938, dtype: int64

sub_grade
C1    68207
B4    65836
B5    65307
B3    64711
C2    63427
C3    60206
C4    59975
B2    58566
B1    56251
C5    54496
A5    50211
D1    41444
A4    40878
D2    36250
A1    33140
D3    32038
A3    29659
A2    28914
D4    28781
D5    24398
E1    19163
E2    17399
E3    14973
E4    12851
E5    11856
F1     8047
F2     5796
F3     4975
F4     4012
F5     3248
G1     2498
G2     1775
G3     1322
G4     1098
G5      949
Name: count, dtype: int64

emp_title
Teacher                          16883
Manager                          15538
Owner                             8309
Registered Nurse                  6950
RN                                6704
                                 ...
Selerum Inc.                         1
Machines set up                      1
Firefighter/ Operations              1
Senior VP and General Counsel        1
Freight Driver                       1
Name: count, Length: 316612, dtype: int64

home_ownership
MORTGAGE    529878
RENT        427092
OWN         115257
ANY            231
OTHER          155
NONE            44
Name: count, dtype: int64

grade
B    310671
C    306311
A    182802
D    162911
E     76242
F     26078
G      7642
Name: count, dtype: int64